.card{
    width: 70%;
    height: 20%;
     display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-image:url(./image/backImg.jpg);
       background-repeat: no-repeat;
    background-size: 2000px 900px;

}