
/*body{
    background-image:url(./image/backImg.jpg);
       background-repeat: no-repeat;
    background-size: 2000px 900px;

}*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

